@{
    Layout = "_Layout";
    ViewData["Title"] = "Descubre";
}


<div style="display: flex; flex-wrap: wrap; gap: 20px;">
    <a href="#">
        <img src="@Url.Content("~/img_descubre/Creado para ti-Descubrir.png")" alt="Creado para ti" style="width: 200px;" />
    </a>
    <a href="#">
        <img src="@Url.Content("~/img_descubre/Musica de descubrir.png")" alt="Música" style="width: 200px;" />
    </a>
    <a href="#">
        <img src="@Url.Content("~/img_descubre/Amor-Descubrir.png")" alt="Amor" style="width: 200px;" />
    </a>
    <a href="#">
        <img src="@Url.Content("~/img_descubre/Salsa-Descubrir.png")" alt="Salsa" style="width: 200px;" />
    </a>
</div>

