@{
    Layout = "~/Areas/Cliente/Views/Shared/_LayoutCliente.cshtml";
    ViewData["Title"] = "Inicio";
}

<div class="panel-container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="mb-0">🎧 Bienvenido a TUNEFLOW</h2>
        <div>
            <form asp-area="Cliente" asp-controller="Planes" asp-action="Planes" method="get" class="d-inline">
                <button type="submit" class="btn btn-outline-primary me-2">Eliminar Publicidad</button>
            </form>

        </div>
    </div>

    <h2 class="mb-4">🏆 TOP</h2>
    <div class="d-flex flex-wrap gap-3">
        <div class="card bg-glass p-3 shadow-sm rounded text-center">
            <button class="btn btn-dark btn-sm mb-2">▶</button>
            <p class="mb-0">Top 50 - Chile</p>
        </div>
        <div class="card bg-glass p-3 shadow-sm rounded text-center">
            <button class="btn btn-dark btn-sm mb-2">▶</button>
            <p class="mb-0">Top 50 - Perú</p>
        </div>
        <div class="card bg-glass p-3 shadow-sm rounded text-center">
            <button class="btn btn-dark btn-sm mb-2">▶</button>
            <p class="mb-0">Top 50 - Global</p>
        </div>
        <div class="card bg-glass p-3 shadow-sm rounded text-center">
            <button class="btn btn-dark btn-sm mb-2">▶</button>
            <p class="mb-0">Top 50 - USA</p>
        </div>
        <div class="card bg-glass p-3 shadow-sm rounded text-center">
            <button class="btn btn-dark btn-sm mb-2">▶</button>
            <p class="mb-0">Top 50 - Puerto Rico</p>
        </div>
    </div>
</div>