@{
    Layout = "~/Areas/Cliente/Views/Shared/_LayoutCliente.cshtml";
    ViewData["Title"] = "Inicio";

    var gradientPalettes = new List<(string, string)>
{
    ("#1e1b4b", "#312e81"),   
    ("#0f172a", "#1e293b"),   
    ("#581c87", "#9333ea"),  
    ("#111827", "#1f2937"),   
    ("#3b0764", "#7e22ce"),  
    ("#171717", "#3f3f46"),   
    ("#111827", "#1e40af")   
};

    Random rand = new Random();
}

<div class="panel-container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="mb-0">🎧 Bienvenido a TUNEFLOW</h2>
        @if (ViewBag.TipoSuscripcion == 1)
        {
            <div>
                <a href="/Cliente/Planes/Planes" class="btn btn-outline-primary">Eliminar Publicidad</a>
                <a href="/Cliente/Planes/UnirseCodigo" class="btn btn-outline-primary">Unirse Por Código</a>
            </div>
        }
    </div>

    <div class="top50">
        <h2>🌍 Países disponibles</h2>
        <div class="cards">
            @foreach (var pais in Model)
            {
                var (color1, color2) = gradientPalettes[rand.Next(gradientPalettes.Count)];
                var backgroundStyle = $"linear-gradient(to bottom, {color1}, {color2})";

                <a href="@Url.Action("CancionesPorPais", "Panel", new { area = "Cliente", paisId = pais.Id })" class="card" style="background: @backgroundStyle">
                    <span>@pais.Name</span>
                </a>
            }
        </div>
    </div>
</div>
