@model IEnumerable<Modelos.Tuneflow.Models.Genre>

@{
    Layout = "~/Areas/Cliente/Views/Shared/_LayoutCliente.cshtml";
    ViewData["Title"] = "Descubre";
}

<div class="genre-panel">
    <h2 class="genre-title">🔍 Descubre por Género</h2>

    <div class="genre-card-grid">
        @foreach (var genero in Model)
        {
            <a href="/Cliente/Buscar/Buscar?nameSong=@genero.Name" class="genre-card-link">
                <div class="genre-card-box">
                    <img src="@genero.FilePath" )" alt="Género: @genero.Name" class="genre-card-img" />
                    <h5 class="genre-card-name">@genero.Name</h5>
                </div>
            </a>
        }
    </div>
</div>

