@page
@model MVC.TUNEFLOW.Areas.Identity.Pages.Account.RegisterArtistaModel
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Registro Artista";
}

<div class="container mt-5">
    <div class="row">

        <div class="col-md-6 d-none d-md-block text-center">
            <img src="~/img/RegisterArtista.png" alt="Imagen de artista" class="img-fluid rounded-start" />
        </div>

        <div class="col-md-6">
            <h1 class="mb-4 text-center">@ViewData["Title"]</h1>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.Phone"></label>
                    <input asp-for="Input.Phone" class="form-control" />
                    <span asp-validation-for="Input.Phone" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.CountryId"></label>
                    <select asp-for="Input.CountryId" asp-items="Model.Paises" class="form-select"></select>
                    <span asp-validation-for="Input.CountryId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.BirthDate"></label>
                    <input asp-for="Input.BirthDate" type="date" class="form-control" />
                    <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.StageName"></label>
                    <input asp-for="Input.StageName" class="form-control" />
                    <span asp-validation-for="Input.StageName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.MusicGenre"></label>
                    <select asp-for="Input.MusicGenre" asp-items="Model.Generos" class="form-select" ></select>
                    <span asp-validation-for="Input.MusicGenre" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.Biography"></label>
                    <textarea asp-for="Input.Biography" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Input.Biography" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-100">Registrar Artista</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}