@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <div class="container mt-5">
            <h1>@ViewData["Title"]</h1>
            <div class="row">
                <div class="col-md-6 d-none d-md-block text-center">
                    <img src="~/img/reset.png" alt="Imagen de artista" class="img-fluid rounded-start" />
                </div>

                <div class="col-md-6">
                    <p>
                        ¡Gracias por registrarte en TuneFlow! Solo falta un paso: confirma tu cuenta para activar tu acceso.
                        Asegúrate de que tu dirección de correo electrónico sea correcta <strong>@Model.Email</strong>).
                        <br />
                        Hemos enviado el link de confirmación a tu correo electronico, accede al mismo para que puedas seguir disfrutando de toda nuestra música. :)
                    </p>

                </div>

            </div>
        </div>

    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}

