@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Restablecer contraseña";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 d-none d-md-block text-center">
            <img src="~/img/reset.png" alt="Imagen de restablecimiento" class="img-fluid rounded-start" />
        </div>

        <div class="col-md-6">
            <h1 class="mb-4 text-center">@ViewData["Title"]</h1>
            <form id="reset-password-form" method="post">
                <h5 class="text-center mb-3">Ingresa tu nueva contraseña</h5>
                <hr />

                <input asp-for="Input.Code" type="hidden" />

                <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label">Correo electrónico</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="correo@ejemplo.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label">Nueva contraseña</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nueva contraseña" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirmar contraseña</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Repite la contraseña" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="w-100 btn btn-lg btn-primary mb-3">Restablecer contraseña</button>

                <div class="text-center">
                    <a asp-page="./Login">Volver a iniciar sesión</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
