@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Restablecer contraseña";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 d-none d-md-block text-center bg-light">
            <img src="~/img/reset.png" alt="Imagen de artista" class="img-fluid rounded-start p-3" />
        </div>

        <div class="col-md-6 bg-light p-5">
            <h1 class="mb-4 text-center">@ViewData["Title"]</h1>
            <form method="post">
                <input asp-for="Input.Code" type="hidden" />

                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label">Correo electrónico</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label">Nueva contraseña</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirmar contraseña</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary w-100">Restablecer contraseña</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
