@model List<Modelos.Tuneflow.User.Production.Follow>
@{
    ViewData["Title"] = "Siguiendo";
    Layout = "~/Areas/Cliente/Views/Shared/_LayoutCliente.cshtml";
}

<div class="siguiendo-container">

    <div class="siguiendo-titulo">Siguiendo</div>

    <div class="siguiendo-grid">
        @foreach (var follow in Model)
        {
            var artista = follow.Artist;
            if (artista != null)
            {
                <div class="siguiendo-card" tabindex="0" onclick="location.href='/Artista/Perfil/Index?id=@artista.Id&idCliente=@ViewBag.IdCliente'">
                    <img src="@(!string.IsNullOrEmpty(artista.Profile.ProfileImage) ? artista.Profile.ProfileImage : "/images/default-artist.png")"
                         alt="@artista.StageName"
                         class="siguiendo-card-img" />
                    <div class="siguiendo-card-nombre">@artista.StageName</div>
                    <div class="siguiendo-card-rol">Artista</div>
                </div>
            }
        }
    </div>

</div>
